<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>banjia</key>
	<dict>
		<key>no</key>
		<integer>1</integer>
		<key>label</key>
		<string>banjia</string>
		<key>logo</key>
		<string>transport.png</string>
		<key>name</key>
		<string>搬家</string>
	</dict>
	<key>jiadianweixiu</key>
	<dict>
		<key>no</key>
		<integer>2</integer>
		<key>label</key>
		<string>jiadianweixiu</string>
		<key>logo</key>
		<string>tv.png</string>
		<key>name</key>
		<string>家电维修</string>
	</dict>
	<key>kongtiaoyiji</key>
	<dict>
		<key>no</key>
		<integer>3</integer>
		<key>label</key>
		<string>kongtiaoyiji</string>
		<key>logo</key>
		<string>airCondition.png</string>
		<key>name</key>
		<string>空调移机</string>
	</dict>
	<key>guandaoshutong</key>
	<dict>
		<key>no</key>
		<integer>4</integer>
		<key>label</key>
		<string>guandaoshutong</string>
		<key>logo</key>
		<string>pipe.png</string>
		<key>name</key>
		<string>管道疏通</string>
	</dict>
	<key>kaisuo</key>
	<dict>
		<key>no</key>
		<integer>5</integer>
		<key>label</key>
		<string>kaisuo</string>
		<key>logo</key>
		<string>unlock.png</string>
		<key>name</key>
		<string>开锁</string>
	</dict>
	<key>yuesao</key>
	<dict>
		<key>no</key>
		<integer>6</integer>
		<key>label</key>
		<string>yuesao</string>
		<key>logo</key>
		<string>babySister.png</string>
		<key>name</key>
		<string>月嫂</string>
	</dict>
	<key>zhongidangong</key>
	<dict>
		<key>no</key>
		<integer>7</integer>
		<key>label</key>
		<string>zhongdiangong</string>
		<key>logo</key>
		<string>cleaner.png</string>
		<key>name</key>
		<string>钟点工</string>
	</dict>
	<key>xiudiannao</key>
	<dict>
		<key>no</key>
		<integer>8</integer>
		<key>label</key>
		<string>xiudiannao</string>
		<key>logo</key>
		<string>pc.png</string>
		<key>name</key>
		<string>修电脑</string>
	</dict>
</dict>
</plist>
